# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Virtual environment
.venv/
venv/

# Packaging
*.egg-info/
build/
dist/

# Jupyter
.ipynb_checkpoints/

data/raw/*
!data/raw/.gitkeep


.DS_Store
Thumbs.db

.vscode/
.idea/

docs/*.aux
docs/*.bbl
docs/*.bcf
docs/*.blg
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.out
docs/*.run.xml
docs/*.toc
docs/*.lof
docs/*.lot
docs/*.synctex.gz
docs/*.pdf
docs/*.toc
docs/*.fdb_latexmk
docs/*.fls

.pytest_cache